h1 {color: blue;
    text-align: center;
    }
    
    h2 
    {color:purple
    font-style: italic;
    text align: center;
    }
    p {text-align: center;
    }
    .line1 {
      color:red;    
    }
    #line2 {
        color: red;
    }
    .important{
        color: red;
    }
    
    .unimportant {
        color: blue;
    }
    .cat-climate {
        background-color: yellow;
    }
    body{
        background-color: yellowgreen;
    }
    .column {
        width: 250px;
        float: left;
    }
    .sidebar {
        width:200;
        float: right;
        background: yellow;
    }
    @media screen and (min-width:480px) {
    body{
        background-color: black;
        color: white;
    }
    }
    @media screen and (min-width: 768px){
        body{
<<<<<<< HEAD
            background-color: rgb(62, 14, 94);
=======
            background-color: yellowgreen;
>>>>>>> gh-pages
        }
    }
    .column {
        width: 200px;
        float: left;
        padding: 60px;
    }
    .column {
        width: 200px;
        float: left;
        padding: 60px;
    }
    div {
        width: 100px;
        border: 15px solid rgb(255, 80, 232);
        padding: 20px;
        margin: 20px;
      }